<div class="contextual">
  <%= link_to_if_authorized l(:label_operation_new), {:controller => "operations", :action => "new", :project_id => @project}, :class => 'icon icon-add' %>
</div>

<% html_title(@query.new_record? ? l(:label_operation_plural) : @query.name) %>

<h2><%= @query.new_record? ? l(:label_operation_plural) : h(@query.name)  %></h2>


<%= form_tag({ :controller => 'operations', :action => 'index', :project_id => @project }, :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<%= hidden_field_tag 'object_type', 'operation' %>
<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend class="icon icon-<%= @query.new_record? ? 'expended' : 'collapsed' %>" onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend class="icon icon-collapsed" onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div style="display: none;">
      <table>
        <tr style="<%= 'display: none;' if operations_list_style != 'list' %>">
          <td><%= l(:field_column_names) %></td>
          <td><%= render_query_columns_selection(@query) %></td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), 'submit_query_form("query_form")', :class => 'icon icon-checked' %>
  <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
</p>
<% end %>

<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <div id="contact_list" class="operation_list">
  <% if @operations.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render :partial => operations_list_style %>
    <span class="pagination"><%= pagination_links_full @operations_pages, @operations_count %></span>
  <% end %>
  </div>
<% end %>

<%= javascript_tag "$('.operation_list tr.operation.planned-operation:last').addClass('last');" %>
<% if Redmine::VERSION.to_s >= '3.4' || RedmineContacts.unstable_branch? %>
  <%= context_menu %>
<% else %>
  <%= context_menu url_for( {:controller => "operations", :action => "context_menu"} )%>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'accounts/stat' %>
   <%= render_sidebar_crm_queries('operation') %>
<% end %>

<% content_for :header_tags do %>
  <%= select2_assets %>
  <%= stylesheet_link_tag :finance, :plugin => 'redmine_finance' %>
  <%= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts' %>
  <%= javascript_include_tag :finance, :plugin => 'redmine_finance'  %>
  <meta name = "format-detection" content = "telephone=no">
<% end %>

