<h3><%= l(:label_crm_my_contacts_stats) %></h3>

<%
  from = Date.civil(Date.today.year, Date.today.month, 1)
  to = (from >> 1) - 1
%>

<table class="list">
<tbody>
  <tr>
    <td><%= l(:label_crm_contacts_created) %></td>
    <td><%= Contact.where(:author_id => @user.id, :created_on => from..to).count %></td>
  </tr>
</tbody>
</table>


<% content_for(:header_tags) do %>
	<%= javascript_include_tag :contacts, :plugin => 'redmine_contacts'  %>
  <%= stylesheet_link_tag :contacts, :plugin => 'redmine_contacts' %>
<% end %>
