<% if @attachment && @attachment.container %>
  <% if @attachment.container.commentable? %>
    <p><%= toggle_link l(:label_comment_add), "add_comment_form", focus: "comment_comments" %></p>
    <%= form_tag({controller: 'drive_entries', action: 'comment_create', id: @attachment.container}, id: "add_comment_form", style: "display:none;") do %>
    <div class="box">
        <%= text_area 'comment', 'comments', cols: 80, rows: 15, class: 'wiki-edit',
                      data: {
                        auto_complete: true,
                        issues_url: auto_complete_issues_path(project_id: @project, q: '')
                      }
        %>
        <%= wikitoolbar_for 'comment_comments', preview_text_path %>
    </div>
    <p><%= submit_tag l(:button_add) %></p>
    <% end %>
  <% end %>

  <div id="comments" style="margin-bottom:16px;">
    <h3 class="comments"><%= l(:label_comment_plural) %></h3>
    <%= render partial: 'comments', locals: { drive_entry: @attachment.container } if @attachment.container.comments.any? %>
    <% @attachment.container.copies.each do |copy| %>
      <% if copy.comments.any? %>
        <h4 class='version-comments-header'><%= "v#{copy.version} - #{drive_entry_link_text(copy)}".html_safe %></h4>
        <%= render partial: 'comments', locals: { drive_entry: copy } %>
      <% end %>
    <% end if @attachment.container.copies.any? %>
  </div>
<% end %>
