<%= error_messages_for 'order' %>

<div class="box tabular">

<div id="attributes" class="attributes">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p><%= f.text_field :number, :label => l(:label_products_number), :required => true, :style => "width: 90%" %>
        <% if @order.new_record? && @last_order_number %>
        <br>
        <em class="info"><%= l(:label_products_order_last_number, :number => @last_order_number) %></em>
        <% end %>
      </p>

      <p class="subject"><%= f.text_field :subject, :label => l(:label_products_order_subject), :style => "width: 90%" %></p>
      <p><%= f.select :project_id, project_tree_options_for_select(Order.allowed_target_projects, :selected => @project), {:required => true} %></p>
      <p class="object-select">
        <%= label_tag :order_contact_id,  l(:label_contact)%>
        <%= select_contact_tag('order[contact_id]', @order.contact, :is_company => ProductsSettings.select_companies, :include_blank => true, :add_contact => true, :display_field => @order.contact.blank?) %>
      </p>
    </div>

    <div class="splitcontentright">
      <p>
        <%= f.text_field :order_date, value: format_datetime(@order.order_date), label: l(:label_products_order_date), size: 14, required: true %>
        <%= datetime_calendar_for('order_order_date') %>
      </p>
      <p class="object-select">
          <%= f.select :status_id, collection_for_order_status_for_select, :label => l(:label_products_status), :required => true %>
      </p>
      <p><%= f.select :currency, collection_for_currencies_select(ContactsSetting.default_currency, ContactsSetting.major_currencies), :label => l(:label_products_currency), :include_blank => true  %></p>
      <p class="object-select"><%= f.select :assigned_to_id, (@project.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true, :label => l(:field_assigned_to) %></p>
    </div>
  </div>
</div>
<%= call_hook(:edit_orders_form_details_bottom, { :order => @order, :form => f }) %>

<p><%= f.text_area :description, :cols => 60, :rows => 10, :class => 'wiki-edit' %><%= wikitoolbar_for 'order_description' %></p>

<%= field_set_tag(l(:label_products_order_lines)) do %>
  <%= render :partial =>'shared/new_product_line', :locals => { :form => f, :parent_object => @order } %>
<% end %>

</div>



