<h2><%= l(:label_products_chart_plural) %></h2>
<%= render 'filters' %>

<%= render 'chart' %>

<% content_for :sidebar do %>
  <%= render :partial => 'orders/stat_ordered' %>
  <%= render :partial => 'orders/recent_orders' unless @recent_orders.blank? %>
<% end %>

<% content_for :header_tags do %>
  <%= chartjs_assets %>
  <% html_title l("label_products_#{@chart}") %>
<% end %>
