<% drive_entries.each do |drive_entry| %>
  <tr id="drive-entry-<%= drive_entry.id %>"
      class="hascontextmenu even <%= drive_entry.css_classes %>"
      data-id="<%= drive_entry.id %>"
      data-parent-id="<%= parent.id %>"
      data-level="<%= offset %>">

    <td class="checkbox"><%= check_box_tag('ids[]', drive_entry.id, false, id: nil) %></td>
    <% query.columns.each do |column| %>
      <%= content_tag('td', drive_entry_column_content(column, drive_entry),
                      class: column.css_classes,
                      style: drive_entry_column_styles(column, drive_entry, offset)) %>
    <% end %>

    <% if Redmine::VERSION.to_s >= '4.0' %>
      <td class="buttons"><%= link_to_context_menu %></td>
    <% end %>
  </tr>
<% end %>
