<h3 class="title"><%= l(:label_drive_new_folder) %></h3>

<%= labelled_form_for @drive_entry, url: { action: :create_folder, project_id: @project, current_folder_id: @current_folder.id },
                      remote: true, html: { id: 'new-folder-form', method: :post } do |f| %>

  <%= render partial: 'form', locals: { f: f } %>

  <p class="buttons">
    <%= submit_tag l(:button_create), name: nil, onclick: 'hideModal(this);' %>
    <%= submit_tag l(:button_cancel), name: nil, onclick: 'hideModal(this);', type: 'button' %>
  </p>
<% end %>
